/*Section 5*/

.container-five{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 110px;
    width: 1200px;
    height: 640px;
}
.column-five{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 530px;
    height: 309px;
}
.content-five{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    width: 530px;
    height: 309px;
}
.section-title-five{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 530px;
    height: 309px;
}
.section-title-five span{
    width: 530px;
    height: 21px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FC4308;
}
.content-text-five{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 450px;
    height: 272px;
}
.content-text-five h3{
    width: 450px;
    height: 50px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 105%;
    margin: 0;
    letter-spacing: -0.065em;
    color: #FC4308;

}
.content-text-five p{
    width: 450px;
height: 120px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* or 24px */
color: #FC4308;

}
.actions-five{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 0px 0px;
    gap: 16px;
    width: 450px;
    height: 54px;
}
.actions-five button{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px 10px;
    gap: 10px;
    border: 1px solid #FC4308;
    border-radius: 3px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    text-align: center;
    color: #FC4308;
    background-color: transparent;
    cursor: pointer;
}
.image-wrapper-five{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 560px;
    height: 640px;
}
.image-wrapper-five img{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 560px;
    height: 640px;
    border: 2px solid #8E2909;
    border-radius: 3px;
}