#root {
    max-width: 1280px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*IntroSection*/


/*Navbar*/

.intro-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
    width: 1440px;
    height: 908px;
    background: url(.png), linear-gradient(233.95deg, #0D1E20 -73.12%, #313E2A 53.36%, #262D20 103.17%), #FFFFFF;
    background-blend-mode: multiply, multiply, normal;
}

.navbar-logo-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 24px;
    width: 1400px;
    height: 68px;
}

.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 1200px;
    height: 68px;
}

.navbar-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 500px;
}

.navbar-brand {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    width: 203px;
    height: 20px;
}

.navbar-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 203px;
    height: 20px;
}

.navbar-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: 517px;
    height: 68px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FC4308;
}

.navbar-link {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px 12px;
}

.navbar-button {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px 10px;
    gap: 10px;
    width: 96px;
    height: 38px;
    border: 1px solid #FC4308;
    border-radius: 3px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FC4308;
    background-color: transparent;
}


/*hero*/

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 20px;
    width: 1400px;
    height: 840px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 1200px;
    height: 680px;
}

.two-columns {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 24px;
    width: 1200px;
    height: 680px;
}

.column-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 0px;
    width: 680px;
    height: 680px;
}

.hero-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 680px;
    height: 446px;
}

.hero-title h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 100px;
    line-height: 105px;
    color: #FC4308;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0;
}

.text-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    width: 430px;
    height: 120px;
}

.text-wrapper p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FC4308;
}

.round-button {
    cursor: pointer;
}

.column-two {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 496px;
    height: 680px;
}

.image-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 496px;
    height: 680px;
}