#root {
    max-width: 1280px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Actions */


/* Auto layout */
.actions{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 48px 0px 0px;
    gap: 16px;
    width: 1200px;
    height: 86px;
}
.actions button {
    /* Button */
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px 10px;
    gap: 10px;
    border: 1px solid #FC4308;
    border-radius: 3px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    text-align: center;
    color: #FC4308;
    background-color: transparent;
    cursor: pointer;
}
